# .gitignore
venv/
node_modules/
.venv/
config.ini
config.json
character.json
*.db
*.log
__pycache__/
*.pyc
.env

# macOS Clutter
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


